
/* Google Fonts Used*/
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@400;700&display=swap');


#css-zen-garden{
    background-color: rgb(246, 238, 226);
    display: flex;
    width: 100%;
}

/* Header CSS */


#zen-intro{
    width: 100%;
}

h1{
    transform: rotate(-2deg);
    font-family: 'Sriracha', cursive;
    font-size: 40px;
    color: white;
    text-align: center;
    background-color: rgb(98, 112, 77);
    margin: 0 50px;
    padding: 20px 10px 40px 20px;
    width: 350px;
}
h2{
    transform: rotate(-1.5deg);
    font-family: 'Sriracha', cursive;
    font-size: 40px;
    color: white;
    text-align: center;
    background-color: rgb(77, 87, 62);
    padding: 5px 10px 5px 20px;
    margin:-35px 0 0 90px ;
    width: 500px;
}

/*Zen Summary*/

#zen-summary{
    display: inline-block;
    background-color: rgba(98, 112, 77, 0.844);
    color: white;
    padding: 5px 10px 5px 20px;
    margin: -155px 0px 0px 800px ;
    width: 500px;
    font-family: 'Kanit', sans-serif;
}

#zen-summary a {
    font-family: 'Antonio', sans-serif;
    color: white;
    text-decoration:none ;
}

#zen-summary a:hover, #design-archives a:hover, 
#design-selection a:hover, #zen-participation a:hover, 
#zen-requirements a:hover, #zen-resources a:hover {
    color:rgb(148, 188, 218);
}
/*Zen Preamble*/ 

#zen-preamble h3{
    transform: rotate(-2deg);
    font-family: 'Anonymous Pro', monospace;
    font-size: 20px;
    color: white;
    text-align: center;
    background-color: rgb(98, 112, 77);
    margin: 50px 50px -35px 50px;
    padding: 10px 10px 40px 10px;
    width: 280px;
}
#zen-preamble p{
    transform: rotate(0deg);
    font-family: 'Kanit', sans-serif;
    font-size: 15px;
    text-align: left;
    line-height: 140%;
    color: white;
    background-color: rgb(77, 87, 62);
    padding: 10px 20px;
    width: auto;
    margin: 10px 10px -15px 100px;
}

/*Zen Supporting*/ 
.main-supporting{
width: 50%;
display: flex;
}

#zen-supporting{
    width: 90%;
    height:max-content;
}

#zen-supporting h3{
    font-family: 'Anonymous Pro', monospace;
    font-size: 20px;
    color: white;
    text-align: center;
    border-radius: 20px;
    background-color: rgb(98, 112, 77);
    margin: 50px 0px 50px 420px;
    padding: 10px 10px 10px 10px;
    width: 280px;
}

/*Zen Explanation**/ 

#zen-explanation p:first-of-type{
    border-top: 2px solid rgb(77, 87, 62);
    padding: 10px 10px 90px 20px;
    margin:-35px 0 0 425px;
}
#zen-explanation p:last-of-type{
    border-bottom: 2px solid rgb(77, 87, 62);
}

#zen-explanation p { 
    font-family: 'Kanit', sans-serif;
    font-size: 15px;
    text-align: left;
    line-height: 140%;
    text-align: left;
    color: rgb(77, 87, 62);
    padding: 0px 10px 15px 20px;
    width: auto;
    margin: -75px 0 0 425px;
    border-left: 2px solid rgb(77, 87, 62);
    border-right: 2px solid rgb(77, 87, 62);
}

/*Zen Participation**/ 

#zen-participation p:first-of-type{
    border-top: 2px solid rgb(77, 87, 62);
    padding: 10px 10px 15px 20px;
}
#zen-participation p{
    font-family: 'Kanit', sans-serif;
    font-size: 15px;
    text-align: left;
    border-left: 2px solid rgb(77, 87, 62);
    border-right: 2px solid rgb(77, 87, 62);
    line-height: 140%;
    color: rgb(77, 87, 62);
    padding: 20px 10px 20px 20px;
    width: auto;
    margin:-35px 0 0 425px;
}
#zen-participation p:last-of-type{
    border-bottom: 2px solid rgb(77, 87, 62);
}

/*participation & requirements*/

#zen-participation a, #zen-requirements a{
    color: rgb(77, 87, 62);
    font-style: italic;
    text-decoration:none ;
}

/*zen-benefits*/

#zen-benefits p{
    font-family: 'Kanit', sans-serif;
    font-size: 15px;
    text-align: left;
    border: 2px solid rgb(77, 87, 62);
    line-height: 140%;
    color: rgb(77, 87, 62);
    padding: 20px 10px 20px 20px;
    width: auto;
    margin:-35px 0 0 425px;
}

/*zen-requirements*/

#zen-requirements p:first-of-type{
    border-top: 2px solid rgb(77, 87, 62);;
}
#zen-requirements p:last-of-type{
    border-bottom: 2px solid rgb(77, 87, 62);;
}
#zen-requirements p{
    font-family: 'Kanit', sans-serif;
    font-size: 15px;
    text-align: left;
    border-left: 2px solid rgb(77, 87, 62);
    border-right: 2px solid rgb(77, 87, 62);
    line-height: 140%;
    color: rgb(77, 87, 62);
    padding: 20px 10px 20px 20px;
    width: auto;
    margin:-35px 0 0 425px;
}

.sidebar{
    float:left;
    width: 25%;
}

/*Design Selection*/

#design-selection{
    margin: -1200px 20px 0px 35px;
    color: white;
}
#design-selection nav {
    background-color: rgba(98, 112, 77, 0.844);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-top: -30px;
    padding: 10px 20px;
}
#design-selection h3 {
   background-color: rgb(98, 112, 77);
   border-radius: 10px;
   color: white;
   text-align: center;
   padding: 20px 20px ;
}

/*Design Archives*/

#design-archives{
    margin: 0px 20px 0px 35px;
    color: white;
}

#design-archives nav {
    background-color: rgba(98, 112, 77, 0.844);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-top: -30px;
    padding: 10px 20px;
}

#design-archives h3 {
   background-color: rgb(98, 112, 77);
   border-radius: 10px;
   color: white;
   text-align: center;
   padding: 20px 20px ;
}

/* Zen Resources */

#zen-resources{
    margin: 0px 20px 10px 35px;
    color: white;
}

#zen-resources h3 {
    background-color: rgb(98, 112, 77);
    border-radius: 10px;
    color: white;
    text-align: center;
    padding: 20px 20px ;
 }

#zen-resources ul {
    background-color: rgba(98, 112, 77, 0.844);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-top: -30px;
    padding: 20px 50px;
}

#zen-resources a, #design-archives a, 
#design-selection a {
    color: white;
    font-family: 'Kanit', sans-serif;
    text-decoration: none;
}

footer{
    margin: 3% 0 2% 50%;
    display: flex;
}
.zen-validate-html, .zen-validate-css, 
.zen-license, .zen-accessibility, 
.zen-github {
    margin-left:20px;
    padding: 10px 10px;
    background-color: rgb(98, 112, 77);
    border-radius: 50%;
    color: white;
}

footer a{
    text-align: center;
    text-decoration: none;
}
