/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@500&display=swap');

#css-zen-garden{
    background-color: rgb(37, 35, 35);
    width: 100%;
    float: left;
}

.intro{
color: gold;
text-align: center;
width: 100%;
}

.intro a {
color: white;
text-decoration: none;
font-family: 'Fjalla One', sans-serif; 
}

.intro a:hover{
    color: blue;
}

h1, h2{
    text-align: center;
    font-family: 'Rubik Mono One', monospace;
    text-shadow: 2px  2px rgb(27, 27, 20);
}

.summary, .preamble{
    border: 2px solid gold;
}

#zen-supporting{
    margin-left: 25%;
    width: 50%;
}

#zen-supporting h3{
    font-family: 'Rubik Mono One', monospace;
    color: gold;
    text-align: center;
}
#zen-supporting p{
    font-family: 'Signika Negative', sans-serif;
    color: gold;

}

#zen-supporting a{
    font-family: 'Fjalla One', sans-serif; 
    color: gold;
    text-decoration: none;
}

#zen-supporting a:hover{
    color: white;
}

.design-archives, .zen-resources{
    float:left;
    padding-left: 10%;
}

.design-selection h3 , .design-archives h3, .zen-resources h3{
    text-align: center;
    color: gold;
    font-family: 'Signika Negative', sans-serif;
    
}

.design-selection ul , .design-archives ul, .zen-resources ul{
    list-style: none;
}

.design-selection{
    float: left;
    padding-left: 20%;
}