/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

body{
        background-image: url(image/arcade-2.png);
        background-size:cover;
        background-repeat: no-repeat;
        background-attachment:fixed;
        position: fixed;
}

/*CSS Garden Words*/

h1{
    position:fixed;
    font-family: 'Rubik Mono One', monospace;
    background-color: #41809f;
    top: 50px ;
    margin-top: 23%;
    margin-left: 21%;
    padding:10px 15px;
    width: 5%;
    font-size: 15px;
    color: #6dc6f2;
    text-shadow:  2px 2px #154f6c;
    border-radius: 5%;

}

/*Second header */

h2{
    position: fixed;
    color: #90bb4c;
    font-family: 'Rubik Mono One', monospace;
    text-shadow: 2px  2px #526f23;
    margin-top: 10px;
    margin-left: 30%;
    width: 100%;
    animation: flicker 2.5s infinite;
}

/* Summary text */

.summary{
    position: fixed;
    font-size: 12px;
    font-family: 'Russo One', sans-serif;
    margin: 310px 0px 70px 320px;
    color: white;
    text-align: center;
}

.summary a{
    color: white;
    text-decoration: none;
    font-family: 'Fjalla One', sans-serif;
}

.summary a:hover{
    color: rgb(61, 61, 255);
    text-decoration: underline;
}
/*So What Is This Scroll*/

#zen-supporting{
    position: fixed;
    background-color: #036cac;
    border-radius: 8%;
    top: 420px ;
    overflow:scroll;
    height: 200px;
    margin-left: 38%;
    width: 22.5%;
}
#zen-supporting h3{
    font-family: 'Rubik Mono One', monospace;
    color: gold;
    text-align: center;
    text-shadow: 2px 2px black;
    border-radius: 10%;
}
#zen-supporting p{
    text-align: justify;
    font-size: 17px;
    line-height: 120%;
    font-family: 'Russo One', sans-serif;
    color: gold;

}
#zen-supporting a{
    font-family: 'Fjalla One', sans-serif; 
    color: gold;
    text-decoration: none;
}
#zen-supporting a:hover{
    text-decoration: underline;
    color: white;
}

footer{
    text-align: center;
    background: #69bbed;
    padding: 10px 10px;
}


/* Intro */

.preamble{
    position: fixed;
    background-color: #3f7078;
    border-radius: 4%;
    top: 95px;
    overflow: scroll;
    width: 10%;
    margin-left: 340px;
    height: 97px;
    width: 12%;
    
}

.preamble h3{
    color: #4ba8b6;
    text-shadow: 2px 2px #166571;
    text-align: center;
    font-family: 'Rubik Mono One', monospace;
    font-size: 15px;
}

.preamble p{
    color: rgb(238, 213, 188);
    font-family: 'Russo One', sans-serif;
    text-align: justify;
    font-size: 10px;
}

.preamble a {
    color: white;
    text-decoration: none;
    font-family: 'Fjalla One', sans-serif; 
}
.preamble a:hover{
    text-decoration: underline;
    color: blue;
}

/*side bar */

.sidebar{
    position: fixed;
    background-color: #2882a0;
    border-radius: 4%;
    top: 110px;
    overflow: scroll;
    width: 15%;
    margin-left: 600px;
    height: 120px;
    width: 15.5%;
    color: #f5d2a4;
}

.design-selection h3 , .design-archives h3, .zen-resources h3{
    text-align: center;
    color: #6dc6f2;
    text-shadow:  2px 2px #154f6c;
    font-family: 'Rubik Mono One', monospace;
}

.design-selection ul , .design-archives ul, .zen-resources ul{
    list-style: none;
    font-family: 'Russo One', sans-serif;
    padding-right: 2px ;
}

.design-selection a , .design-archives a, .zen-resources a{
    font-family: 'Russo One', sans-serif;
    text-decoration: none;
    color:#f5d2a4;
}

.design-selection a:hover , .design-archives a:hover, .zen-resources a:hover{
    text-decoration: underline;
    color: white;
}