body{
    background-color:rgb(10, 9, 9);
   /* overflow: hidden; */
}

/* This will be the main moving text*/

.intro, #zen-supporting{
    display: inline;
    height: 50%;
    width: 60%;
    margin:0 auto;
    color: gold;
    font-size: 50px;
}
