
/* Google Fonts Used*/
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@400;700&display=swap');


#css-zen-garden{
    background-color: rgb(246, 238, 226);
    display: inline-block;
}

/* Header CSS */


h1{
    transform: rotate(-2deg);
    font-family: 'Sriracha', cursive;
    font-size: 40px;
    color: white;
    text-align: center;
    background-color: rgb(98, 112, 77);
    margin: 0 50px;
    padding: 20px 10px 40px 20px;
    width: 350px;
}
h2{
    transform: rotate(-1.5deg);
    font-family: 'Sriracha', cursive;
    font-size: 40px;
    color: white;
    text-align: center;
    background-color: rgb(77, 87, 62);
    padding: 5px 10px 5px 20px;
    margin:-35px 0 0 90px ;
    width: 500px;
}

/*Zen Summary*/

#zen-summary{
    background-color: rgba(98, 112, 77, 0.844);
    color: white;
    padding: 5px 10px 5px 20px;
    margin: -155px 0px 0px 800px ;
    width: 500px;
    font-family: 'Kanit', sans-serif;
}

#zen-summary a {
    font-family: 'Antonio', sans-serif;
    color: white;
}

#zen-summary a:hover {
    font-family: 'Antonio', sans-serif;
    color:rgb(148, 188, 218);
}
/*Zen Preamble*/ 

#zen-preamble h3{
    transform: rotate(-2deg);
    font-family: 'Anonymous Pro', monospace;
    font-size: 20px;
    color: white;
    text-align: center;
    background-color: rgb(98, 112, 77);
    margin: 50px 50px -35px 50px;
    padding: 10px 10px 40px 10px;
    width: 280px;
}
#zen-preamble p{
   
   transform: rotate(0deg);
    font-family: 'Kanit', sans-serif;
    font-size: 15px;
    text-align: left;
    line-height: 140%;
    color: white;
    background-color: rgb(77, 87, 62);
    padding: 10px 20px;
    width: auto;
    margin: 10px 10px -15px 100px;
}

/*Zen Supporting*/ 

#zen-supporting h3{
    transform: rotate(-2deg);
    font-family: 'Anonymous Pro', monospace;
    font-size: 20px;
    color: white;
    text-align: center;
    background-color: rgb(98, 112, 77);
    margin: 50px 50px;
    padding: 10px 10px 40px 10px;
    width: 280px;
}
#zen-supporting p{
    transform: rotate(0);
    font-family: 'Kanit', sans-serif;
    font-size: 15px;
    text-align: left;
    line-height: 140%;
    color: white;
    text-align: left;
    background-color: rgb(77, 87, 62);
    padding: 10px 10px 80px 20px;
    width: 700px;
    margin:-75px 0 0 90px;
}

#zen-supporting a{
    color: white;
}

#zen-supporting a:hover{
    color:rgb(148, 188, 218);
}
